JWT_SECRET=5b799c38b9e234958eb74a9ed1752958f632fdc8e02be5bcec3eaaf1abcb30dff78f7fedb902d2f062a2b7a5059fe2c22e7f824c0733533999e573c131459a02


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=8b9f00001@smtp-brevo.com
SMTP_PASS=0MS72PpXZ1nRcbUz
APP_URL=http://localhost:3000

DATABASE_URL=postgresql://neondb_owner:npg_JGgR7sjh3kem@ep-nameless-thunder-adq0soud-pooler.c-2.us-east-1.aws.neon.tech/ai-forge?sslmode=require&channel_binding=require