@import "tailwindcss";

/**================
 * CSS VARIABLES
 ================*/
:root {
  /*=== Custom Colors ===*/
  --hover-color: #3982dc;
  --color-body: #0063db;
  --white-alpha-8: rgba(255, 255, 255, 0.063);
}

.dark {
  --background: 250 100% 4%;
  --foreground: 210 20% 98%;
  --card: 224 71% 4%;
  --card-foreground: 210 20% 98%;
  --popover: 224 71% 4%;
  --popover-foreground: 210 20% 98%;
  --primary: 210 20% 98%;
  --primary-foreground: 220 9% 46%;
  --secondary: 215 27% 17%;
  --secondary-foreground: 210 20% 98%;
  --muted: 215 27% 17%;
  --muted-foreground: 217 10% 65%;
  --accent: 215 27% 17%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 215 27% 17%;
  --input: 215 27% 17%;
  --ring: 216 12% 84%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: var(--font-manrope), sans-serif;
}

/**=======================
 * SCROLLBAR STYLES
=======================*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 10rem;
  background: var(--color-body);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

::selection {
  background-color: var(--white-alpha-8);
}

/**=======================
 * PATHWAY ANIMATIONS
=======================*/
@keyframes dash-flow-normal {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes dash-flow-reverse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}
